<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PocetniZaslon.Properties.Settings._18027_DBConnectionString"
            connectionString="Data Source=31.147.204.119\PISERVER,1433;Initial Catalog=18027_DB;Persist Security Info=True;User ID=18027_User;Password=LOqkF*ak"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>